.dropdown {
    border-radius: 15px;
    border: 1px solid #464646;
    background: rgba(248, 248, 248, 0.7);
    padding: 10px 30px;
    overflow: hidden;
    position: relative;

    &__list {
        display: flex;
        flex-direction: column;
    }
    &__link {
        display: block;
        white-space: nowrap;
        transition: color .3s;

        color: #464646;

        text-align: center;
        text-shadow: 0px 4px 8px rgba(0, 24, 72, 0.10);
        font-size: 20px;
        font-weight: 500;
        line-height: normal;

        &:hover {
            color: $main-color;
        }
    }
} 