.header {
    position: relative;
    background: #f4f4f4;

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
        z-index: 6;

        @media(max-width: $breakpoint768) {
            padding: 20px 0;
        }
        @media(max-width: $breakpoint480) {
            padding: 18px 0;
        }
    }
    &__logo {
        animation-delay: 150ms;
        animation-duration: .5s;
        opacity: 0;
        animation-fill-mode: forwards;
        animation-name: uicoreFadeInDown, uicoreFadeIn;
        animation-play-state: paused;
        animation-timing-function: cubic-bezier(.22, 1, .36, 1), cubic-bezier(0, 0, .2, 1);
        animation-play-state: running;

        @media(max-width: $breakpoint480) {
            max-width: 113px;
        }
    }
    &__right {
        display: flex;
        align-items: center;
        gap: 30px;

        @media(max-width: $breakpoint1280) {
            display: none;
        }
    }
    &__btn {
        animation-delay: 1s;
        animation-duration: 4.9s;
        opacity: 0;
        animation-fill-mode: forwards;
        animation-name: uicoreFadeInDown, uicoreFadeIn;
        animation-play-state: paused;
        animation-timing-function: cubic-bezier(.22, 1, .36, 1), cubic-bezier(0, 0, .2, 1);
        animation-play-state: running;

        padding: 10px 30px;
        border-radius: 30px;
        background: $black;

        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: #fff;
        transition: color .3s;

        &:hover {
            color: $main-color;
        }
    }

    & .social-list {
        @media(min-width: $breakpoint1280) {
            animation-delay: 1.15s;
            animation-duration: 4s;
            opacity: 0;
            animation-fill-mode: forwards;
            animation-name: uicoreFadeInDown, uicoreFadeIn;
        }
    }
}
