.menu-nav {
    display: flex;
    align-items: center;
    gap: 40px;

    @media(max-width: $breakpoint1440) {
        gap: 16px;
    }

    &__item {
        display: flex;
    }

    &__link {
        display: block;
        
        font-weight: 500;
        font-size: 20px;
        text-transform: lowercase;
        color: #464646;

        @media(max-width: $breakpoint1024) {
            font-size: 16px;
        }

        &--active {
            color: $main-color;
        }
    }
}