.request-form {
    max-width: 385px;
    margin: 0 auto;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;

        @media(max-width: $breakpoint480) {
            gap: 8px;
        }
    }
    &__input {
        border: 1px solid #d9d9d9;
        border-radius: 7px;
        padding: 9px 22px;
        background: rgba(217, 217, 217, 0.4);
        
        font-weight: 500;
        font-size: 16px;
        color: rgba(70, 70, 70, 0.5);

        @media(max-width: $breakpoint480) {
            font-size: 14px;
        }

        &::placeholder {
            font-weight: 500;
            font-size: 16px;
            color: rgba(70, 70, 70, 0.5);

            @media(max-width: $breakpoint480) {
                font-size: 14px;
            }
        }
    }
    &__bottom {
        margin-top: 24px;

        display: flex;
        flex-direction: column;
        align-items: center;

        @media(max-width: $breakpoint480) {
            margin-top: 18px;
            gap: 12px;
        }
    }

    &__btn {    
        display: flex;
        align-items: center;
        background: $black;

        color: #fff;
    }

    &__confirm {
        margin-top: 14px;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        color: rgba(70, 70, 70, 0.5);

        @media(max-width: $breakpoint480) {
            margin-top: 0;
            font-size: 12px;
        }
    }

    &__dropdown {
        border: 1px solid #d9d9d9;
        background: rgba(217, 217, 217, 0.4);
        border-radius: 7px;
        padding: 10px 24px;

        &.open {
            & .request-form__dropdown {
                &-container {
                    margin-top: 24px;
                    grid-template-rows: 1fr;
                }
                &-selected {
                    &::before {
                        width: 100%;
                        transition: all .3s ease-in .05s;
                    }

                    & svg {
                        rotate: 180deg;
                    }
                }
            }
        }

        &-selected {
            position: relative;
            display: flex;
            align-items: center;
            gap: 28px;

            font-weight: 500;
            font-size: 16px;
            color: #000;
            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                bottom: -12px;
                left: 50%;
                transform: translateX(-50%);
                width: 0%;
                height: 1px;
                background: #d9d9d9;
            }
            
            & svg {
                flex-shrink: 0;
                fill: $black;
                transition: all .3s;
            }
        }
        &-container {
            display: grid;
            grid-template-rows: 0fr;
            overflow: hidden;
            transition: all 0.3s;
        }
        &-list {
            display: flex;
            flex-direction: column;
            gap: 4px;
            min-height: 0;
        }
        &-item {
            font-weight: 500;
            font-size: 16px;
            color: rgba(70, 70, 70, 0.5);
            cursor: pointer;
        }
    }
}