@import url("../assets/fonts/stylesheet.css");

html,
body {
    font-family: $font-text;
    scroll-behavior: smooth;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

// Заголовки
h2 {
    width: fit-content;
    position: relative;
    font-family: $font-title;
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    text-transform: uppercase;
    padding-left: 35px;

    @media(max-width: $breakpoint768) {
        font-size: 40px;
    }
    @media(max-width: $breakpoint480) {
        font-size: 32px;
        padding-left: 28px;
    }
    @media(max-width: $breakpoint375) {
        font-size: 25px;
        padding-left: 24px;
    }

    &.dark {
        color: $black;
    }
    &.light {
        color: #fff;
    }

    &::before {
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $main-color;

        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        @media(max-width: $breakpoint768) {
            width: 17px;
            height: 17px;
        }
        @media(max-width: $breakpoint480) {
            width: 13px;
            height: 13px;
        }
    }
}
h3 {
   
}

// База
.container {
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;

    &__inner {
        margin-top: 38px;

        @media(max-width: $breakpoint768) {
            margin-top: 28px;
        }
    }

    @media(max-width: $container-width) {
        padding: 0 $padding-md;
    }
    @media(max-width: $breakpoint768) {
        padding: 0 $padding-sm;
    }
}

.left-padding {
    padding-left: calc((100vw - $section-top) / 2);

    @media(max-width: $container-width) {
        padding-left: $padding-md;
    }
    @media(max-width: $breakpoint768) {
        padding-left: $padding-sm;
    }
}

.no-scroll {
    overflow: hidden;
}