// color
$main-color: #F9A11E;
$black: #464646;

// breakpoint 
$breakpoint1440: 1440 + px;
$breakpoint1280: 1280 + px;
$breakpoint1024: 1024 + px;
$breakpoint768: 768 + px;
$breakpoint600: 600 + px;
$breakpoint480: 480 + px;
$breakpoint375: 375 + px;

// font-family
$font-text: "Open Sans", sans-serif;;
$font-title: "Times New Roman", sans-serif;;

// border-radius
$main-radius: 10px;

// container
$container-width: 1440px;
$section-top: 100px;
$padding-md: 24px;
$padding-sm: 16px;
 
// animation
@keyframes uicoreFadeInDown {
    0% {
        transform: translate3d(0, -7vh, 0)
    }

    to {
        transform: translateZ(0)
    }
}

@keyframes uicoreFadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}